#background{
    background-image: url("./nickcage.jpg");
    width:600px;
    height:400px;
    margin:0 auto;
}

#videoNoShow{
    transform:scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    display: none !important;
}