#background{
    width:600px;
    height:400px;
    margin:0 auto;
    border: 5px solid salmon;
}

.backgroundLoaded{
    background-image: url("./nickcage.jpg");
}

#videoNoShow{
    transform:scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    display: none !important;
}